header {
    background-color: lightblue;
    margin:0;
}

body {
    font-size:20px;
    margin:0;
}

a:hover {
    color:blue;
}

.navbar {
    background-color:darkblue;
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.navbar li {
    color:white;
    display: block;
    text-align: center;
    border: 3px white;
    float:left;
    display:inline;
}

.headers {
    color:brown;
    display: flex;
    justify-content:center;
    align-items: center;
}

.week2 {
    margin-right: 10px;
}

.week2:hover {
    color:green;
}